<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <title>我的Yoo盘 - Yoo盘</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Yoo盘</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">主页</a></li>
          <li class="active"><a href="disk">我的Yoo盘</a></li>
          <li><a href="takeaway">随心TakeAway</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="signin" href="signin">登录</a></li>
          <li><a id="signup" href="signup">注册</a></li>
          <li><a id="welcome"></a></li>
          <li><a id="exit" href="/" style="display:none">退出</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <h2>看不见我看不见我</h2>

  <div class="container">
    <div class="row">
      <div class="col-xs-10">
        <form enctype="multipart/form-data" method="post" action="disk/upload">
          <fieldset>
            <legend>上传文件到我的Yoo盘</legend>
                <input id="resource" name="resource" type="file"/>
                <p></p>
                  <input id="uploadButton" class="btn btn-primary" type="submit" value="上传" />
          </fieldset>
      </div>
      </form>
      <div class="col-xs-12">
        <br>
        <br>
        <legend>我的Yoo盘</legend>
        <p id="noFileHint" style="display:none" class="text-primary">这里还没有文件呦～</p>
        <table class="table table-striped" id="fileInfo" style="display:none">
          <thead>
            <th date-id="fileName">文件名</th>
            <th data-id="size">大小</th>
            <th data-id="createDate">修改时间</th>
            <th data-id="download">功能</th>
          </thead>
          <tbody id="file">
          </tbody>
        </table>
      </div>
    </div>
  </div>

<script src="jquery/dist/jquery.js"></script>
<script src="jquery.cookie.js"></script>
<script src="disk.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
