<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <title>Yoo盘</title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Yoo盘</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">主页</a></li>
          <li><a href="disk">我的Yoo盘</a></li>
          <li><a href="takeaway">随心TakeAway</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="signin" href="signin">登录</a></li>
          <li><a id="signup" href="signup">注册</a></li>
          <li><a id="welcome"></a></li>
          <li><a id="exit" href="/" style="display:none">退出</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="row">
        <div class="col-xs-6">
          <h2>
            看不见我看不见我
          </h2>
          <h2>
            我的Yoo盘
          </h2>
          <p>
            保存自己的文件到Yoo盘，小天使再也不用担心自己找不到U盘
          </p>
          <p>
            <a class="btn btn-primary btn-large" href="/disk">使用 »</a>
          </p>
        </div>
        <div class="col-xs-6">
          <h2>
            看不见我看不见我
          </h2>
          <h2>
            随心TakeAway
          </h2>
          <p>
            保存临时文件到Yoo盘，输入分配的提取码即可下载
          </p>
          <p>
            <a class="btn btn-primary btn-large" href="/takeaway">使用 »</a>
          </p>
        </div>
    </div>
  </div>
  <script src="jquery/dist/jquery.js"></script>
  <script src="jquery.cookie.js"></script>
  <script src="main.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
